<%- include('layout/head.ejs') %>

<body class="">
  <%- include('layout/nav.ejs') %>
  <main>
    <%- include('hero.ejs') %><%- include('participants.ejs') %><%- include('support.ejs') %>
  </main>
  <%- include('layout/end.ejs') %>
</body>
