<div class="cinema participants-list">
  <%- include("cinema/dosch.ejs") %><%- include("cinema/school.ejs") %><%-
  include("cinema/projavy.ejs") %><%- include("cinema/feldman-cartoon.ejs") %><%-
  include("cinema/monochrome.ejs") %>
</div>
