<div class="visual participants-list">
  <%- include("visual/feldman.ejs") %><%- include("visual/george-ivanchenko.ejs") %><%-
  include("visual/segal.ejs") %><%- include("visual/ivancyk.ejs") %><%-
  include("visual/kalynchuk.ejs") %><%- include("visual/commercialpublicart.ejs") %><%-
  include("visual/side.ejs") %><%- include("visual/kosovych.ejs") %><%- include("visual/cosmo.ejs")
  %><%- include("visual/vertwen.ejs") %><%- include("visual/shevchenko.ejs") %>
</div>
